@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,300,500);

.page-wrapper {
	width: 66%;
}

body {   
	background: rgb(207, 204, 181);
	margin: 10px;
	padding: 20px;
	font-family: 'Raleway', sans-serif;   
	color: #000;
	position: relative;
	min-width: 1000px;
	line-height: 1.6;
}

a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: rgb(69, 95, 39);
	}

a:visited {
	color: rgb(120, 118, 104)
}

a:hover, a:focus, a:active { 
	font-style: italic;
	text-decoration: underline;
}

header::before {
	content: url(images/header.jpg);
	position: absolute;
	top: 30px;
}

h1, h2 {
	visibility: hidden;
}

.summary {
	background: rgba(81, 92, 46, 0.5);
	height: auto;
	max-height: 200px;
	width: 25%;
	padding: 10px;
	position: absolute;
	top: 30px;
	right: 0;
}

h3::before{
	content: url(images/rocks.jpg);
}

h3 {
	padding: 10px;
	color: rgb(69, 95,  39);
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: 1px;
}

h3:hover {
	letter-spacing: 3px;
	transition: 3s;
}

.preamble {
	margin-top: 125px;
}

.sidebar {
	padding: 10px;
	background: #7A96A4;
	width: 25%; 
	position: absolute; 
	top: 250px;
	right: 0;
	margin-left: 600px;
	}

footer {
	padding: 10px;
	background: rgba(81, 92, 46,0.5);
	position: relative;
	text-align: center;
}

footer a {
	padding: 10px;
}